body {
    background-color: #efefef;
}
.grid .cell {
    display: block;
    position: relative;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
    border-radius: 2px;
    background: #fefefe;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.grid .cell:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.grid .img-fluid {
    max-height: 100%;
}
.jumbotron {
    border: 1px solid #000 !important;
    background-color: #fff !important;
}
.fightersList {
    white-space: nowrap !important;
    overflow-x: scroll;
    overflow-y: hidden;
    display: block !important;
}
.fightersList::-webkit-scrollbar {
    height: 8px;
}
.fightersList::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgba(149, 165, 166, 0.5);
}
.fightersList::-webkit-scrollbar-thumb:hover {
    border-radius: 20px;
    background-color: rgba(149, 165, 166, 0.7);
}
.fightersList::-webkit-scrollbar-thumb:active {
    background-color: rgba(149, 165, 166, 1.0);
}
.fightersList .skills i {
    font-size: 25px;
}
#inventoryModal i{
    font-size: 30px;
}
.fightersList dd {
    white-space: normal;
}
button {
    cursor: pointer !important;
}
.icons8-delete-bin-filled,
.icons8-eye-filled,
.icons8-edit-filled {
    font-size: 25px;
}

.custom-file-control:before{
    content: "Browse";
}
.custom-file-control:after{
    content: "Choose files..";
    float: left;
}
.fightersList .border-info {
    border-width:3px;
}
.enemy {
    cursor: url("../img/sword.png"), pointer;
}
.tool {
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
}
.level-badge {
    position: absolute;
    bottom: 0;
    right: 0;
}
.cell i {
    font-size: 40px;
}
.list-group-item.active .badge {
    background-color: #f8f9fa;
    color: black;
}
.conversation {
    max-height: 300px;
    overflow: auto;
}